# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Debug images
cartoon_debug*.png
dog_debug*.png

# Python cache
__pycache__/
*.pyc
